<div class="div-login">

  <form action="/auth/login" method="POST" id="form-container">
    <h2 class="h2-login">Inicia sesión</h2>

    <label class="labellogin" for="username">Usuario</label>
    <input class="input-login" id="username" type="text" name="username" placeholder="Usuario" autocomplete="on">


    <label class="labelpassword" for="password">Contraseña</label>
    <input class="input-login" id="password" type="password" name="password" placeholder="Contraseña" autocomplete="current-password">


    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}


    <button class="button-login">Login</button>

    <p class="account-message">
      ¿No tienes cuenta todavía?
      <a class="link-login"href="/auth/signup" text-decoration="none">Regístrate</a>
    </p>
  </form>
</div>