<div class="div-signup">


  <form action="/auth/signup" method="POST" id="form-container-signup" enctype="multipart/form-data">
  
    <h2 class="h2signup">Regístrate</h2>

    <div class="form-field-signup">
      <label class="labelsignup" for="email">Email</label>
      <input  class="inputsignup" id="email" type="email" name="email" placeholder="Email" required>
    </div>

    <div class="form-field-signup">
      <label class="labelsignup" for="username">Usuario</label>
      <input class="inputsignup" id="username" type="text" name="username" placeholder="Username" autocomplete="on" required>
    </div>



    <div class="form-field-signup">
      <label class="labelsignup" for="password">Contraseña</label>
      <input class="inputsignup" id="password" type="password" name="password" placeholder="Contraseña" autocomplete="current-password" required>
    </div>

    <div class="form-field-signup">
      <label class="labelsignup" for="user-photo">Sube tu foto de perfil</label>
      <input class="inputfoto" type="file" name="userPhoto" id="user-photo" value="" title="" required>
    </div>

    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button class="button-signup">Crear cuenta</button>

    <p class="account-message">
      ¿Ya tienes una cuenta? <a class="link" href="/auth/login">Inicia sesión aquí</a>
    </p>
  </form>

</div>