<div>


  <form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
  
    <h2>Regístrate</h2>

    <div class="form-field">
      <label class="labelsignup" for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="Email">
    </div>

    <div class="form-field">
      <label class="labelsignup" for="username">Usuario</label>
      <input id="username" type="text" name="username" placeholder="Username" autocomplete="on">
    </div>



    <div class="form-field">
      <label class="labelsignup" for="password">Contraseña</label>
      <input id="password" type="password" name="password" placeholder="Contraseña" autocomplete="current-password">
    </div>

    <div class="form-field">
      <label class="labelsignup" for="user-photo">Sube tu foto</label>
      <input class="inputfoto" type="file" name="userPhoto" id="user-photo" value="" title="">
    </div>

    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Crear cuenta</button>

    <p class="account-message">
      ¿Ya tienes una cuenta? <a href="/auth/login">Inicia sesión</a>
    </p>
  </form>

</div>