<header class="header">
  <div class="belt">
    <div class="header-container">
      <a href="/"><img class="header-logo" src="../../images/logo.png"></a>
      <nav>
        <ul class="nav">
          <li class="nav-item"><a class="nav-item__go" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-item__go" href="/twitter">#QuéLeer</a></li>
          {{#if user}}
          <li class="nav-item"><a class="nav-item__go" href="/profile">Perfil</a></li>
          <li class="nav-item"><a class="nav-item__go" href="/auth/logout">Salir</a></li>
          {{else}}
          <li class="nav-item"><a class="nav-item__go" href="/auth/login">Iniciar sesión</a></li>
          <li class="nav-item"><a class="nav-item__go" href="/auth/signup">Registrarse</a></li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </div>
</header>