<p>BOOKAPP</p>


<nav>
  <a href="/">Home</a>
  <a href="/twitter">¿Que pasa en Twitter?</a>
  {{#if user}}
  <a href="/profile">Perfil</a>
  <a href="/auth/logout">Salir</a>
  {{else}}
  <a href="/auth/login">Iniciar sesión</a>
  <a href="/auth/signup">Registrarse</a>
  {{/if}}
</nav>