<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
  {{> header}}

  {{{body}}}

  <footer class="footer">
    <div class="belt">
      <div class="footer-container">
        <p class="footer-text">© BookApp - 2019</p>
        <a class="footer-go" href="https://twitter.com/BookApp2" target="_blank"><img class="footer-icon"
            src="/images/twitter.png" alt="Twitter"></a>
      </div>
    </div>
  </footer>
  <script src="/javascripts/script.js"></script>
</body>

</html>