<div class="div-resena">
  <div class="belt">
    <h1 class="h1-resena">Crea tu Reseña</h1>
    <form action="/resena" method="POST" id="resena-form" enctype="multipart/form-data">

      <div class="div-left-resena">

        <label class="labels-resena" for="title">Título</label>
        <input class="input-resena" type="text" name="title" id="title">
        <br>
        <label class="labels-resena" for="author">Autor</label>
        <input class="input-resena" type="text" name="author" id="author">
        <br>
        <label class="labels-resena" for="pages">Páginas</label>
        <input class="input-resena" type="number" name="pages" id="pages">
        <br>
        <label class="labels-resena" for="publisher_date">Fecha de publicación</label>
        <input class="input-resena" type="number" step="1" name="publisher_date" id="publisher_date">
        <br>
        <label class="labels-resena" for="categories">Categorías</label>
        <input class="input-resena" type="text" name="categories" id="categories">
        <br>
      </div>

      <div class="div-right-resena">
        <label class="labels-resena" for="content">Descripción del libro</label>

        <textarea name="content" class="input-resena-textarea" rows="14" placeholder="Escriba aquí su reseña..."></textarea>
        <br>
        <label class="labels-resena-foto" for="categories">Sube la foto de portada del libro</label>

        <input type="file" name="picName" class="picresena">
        <button class="button-resena">Crear reseña</button>
      </div>
    </form>
  </div>
</div>