html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* subimos el tamano de fuente hasta 20px en el html y bajamos a 10px en el body */
html {
  font-size: 125%; }

body {
  font-size: .5em;
  overflow-x: hidden; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: "Roboto", sans-serif;
  background: url(../images/bg.jpg); }

.belt {
  display: block;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%; }

.header {
  background-color: #517F2F;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  z-index: 2; }

.header-logo {
  width: 50%; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav {
  display: flex;
  list-style-type: none; }

.nav-item__go {
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1rem; }

.nav-item__go:hover,
.nav-item__go:focus {
  outline: none; }

.nav-item__go {
  padding: 0 20px;
  line-height: 45px; }

.nav-item__go::before,
.nav-item__go::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none; }

.nav-item__go::before {
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0; }

.nav-item__go::after {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.nav-item__go:hover::before,
.nav-item__go:hover::after,
.nav-item__go:focus::before,
.nav-item__go:focus::after {
  opacity: 1; }

.nav-item__go:hover::before,
.nav-item__go:focus::before {
  left: 50%;
  -webkit-transform: rotate(0deg) translateX(-50%);
  -moz-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%); }

.nav-item__go:hover::after,
.nav-item__go:focus::after {
  right: 50%;
  -webkit-transform: rotate(0deg) translateX(50%);
  -moz-transform: rotate(0deg) translateX(50%);
  transform: rotate(0deg) translateX(50%); }

.footer {
  background-color: #224511;
  padding: 1.5rem 0; }

.footer-text {
  font-size: 1rem;
  color: #FFFFFF; }

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer-icon {
  width: 25%; }

.home {
  padding-top: 8rem; }

.books {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.books-item {
  padding: 1.5rem;
  display: flex;
  width: 32%;
  margin-bottom: 1.5rem;
  min-height: 17rem;
  background: #FFF;
  -webkit-box-shadow: 7px 7px 16px 0px #cfcfcf;
  -moz-box-shadow: 7px 7px 16px 0px #cfcfcf;
  box-shadow: 7px 7px 16px 0px #cfcfcf; }

.books-item__container {
  position: relative; }

.books-item__image {
  max-width: 40%;
  margin-right: 5%; }

.books-item__title,
.books-item__author,
.books-item__category {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 0.5rem;
  line-height: 1rem; }

.books-item__bold {
  font-weight: bold;
  width: 100%;
  display: block;
  margin-bottom: 0.1rem; }

.book-details-container {
  position: absolute;
  bottom: 0; }

.books-details {
  text-decoration: none; }

.books-details__item {
  --c: #224511;
  color: var(--c);
  font-size: 1rem;
  border: 0.1em solid var(--c);
  border-radius: 0.5em;
  width: 9em;
  height: 2.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  font-family: "Roboto", sans-serif; }

.books-details__item span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1; }

.books-details__item:hover {
  color: #FFFFFF; }

.books-details__item:hover span {
  transform: translateY(0) scale(2); }

.books-details__item span:nth-child(1) {
  --n: 1; }

.books-details__item span:nth-child(2) {
  --n: 2; }

.books-details__item span:nth-child(3) {
  --n: 3; }

.books-details__item span:nth-child(4) {
  --n: 4; }

.timeline-container {
  padding-top: 8rem;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem; }

.details-container {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.details-content {
  display: flex;
  margin-bottom: 2rem; }

.details-image-container {
  margin-right: 3%; }

.details-image-container__image {
  width: 265px; }

.details-dates__title,
.details-dates__author,
.details-dates__category,
.details-dates__pages,
.details-dates__date,
.details-dates__description,
.details-dates__twitter {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 0.5rem;
  line-height: 1rem; }

.details-dates__bold {
  font-weight: bold;
  width: 100%;
  display: block;
  margin-bottom: 0.1rem; }

.details-dates__twitter {
  margin-bottom: 0.5rem; }

.comments-form-container__title {
  font-size: 1.4rem;
  color: #333333;
  margin-bottom: 1rem; }

.comments-form__label {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 0.5rem;
  line-height: 1rem;
  font-weight: bold;
  width: 100%;
  display: block; }

.comments-form__text {
  width: 100%;
  resize: none;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid #517F2F;
  border-radius: 5px;
  line-height: 1.2rem;
  -webkit-box-shadow: 7px 7px 16px 0px #cfcfcf;
  -moz-box-shadow: 7px 7px 16px 0px #cfcfcf;
  box-shadow: 7px 7px 16px 0px #cfcfcf; }

.comments-form__btn {
  background: #224511;
  font-size: 0.8rem;
  border: none;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer; }

.comments-form__btn:hover {
  background: #517F2F; }

.comments-container {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.comments-container__title {
  font-size: 1.4rem;
  color: #333333;
  margin-bottom: 1rem; }

.comments-item {
  margin-bottom: 1rem;
  border: 2px solid #517F2F;
  border-radius: 5px;
  padding: 1rem;
  background: #FFF; }

.comments-ident-container {
  display: flex; }

.comments-item__image {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  max-width: 60px; }

.comments-item__author {
  font-size: 1rem;
  color: #333333;
  font-weight: bold;
  margin-left: 0.5rem;
  padding-top: 0.5rem; }

.comments-content {
  font-size: 0.9rem;
  margin-top: 0.8rem;
  color: #333333;
  line-height: 1.2rem; }

/*# sourceMappingURL=style.css.map */