* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1-resena {
  margin-top: 20px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  color: $text-color-dark;
}

.div-resena {
  overflow: auto;
  padding-top: 8rem;
  border-radius: 10px;
  margin-bottom: 32px;
}

.div-right-resena {
  width: 50%;
  float: right;
  height: 100%;
  padding-left: 75px;
  margin-bottom: 10px;
}

.input-resena-textarea {
  width: 85%;
  padding: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  height: 50%;
  font-size: 20px !important;
  resize: none;
  color:$text-color-dark;
}

.div-left-resena {
  width: 50%;
  float: left;
  padding-bottom: 50px;
  padding-left: 100px;
}

#resena-form {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: inline;
}
.labels-resena {
  width: 70%;
  padding-top: 30px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  height: 60px;
  font-size: 20px;
  color:$text-color-dark;;
}

.input-resena {
  width: 85%;
  padding: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  height: 60px;
  font-size: 20px !important;
}

.button-resena {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 27px 0;
  border: none;
  cursor: pointer;
  width: 85%;
  border-radius: 10px;
  height: 60px;
  font-size: 20px;
}

.account-message {
  font-size: 20px;
}

.picresena {
  margin-top: -8px;
}

.labels-resena-foto {
  width: 70%;
  padding-top: 30px;
  padding-bottom: 53px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  height: 60px;
  font-size: 20px;
  color: $text-color-dark;
}
