* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color-dark;

}

.h2signup {
  margin-top: 20px;
  font-size: 35px;
  color: $text-color-dark;

}

.div-signup{
  overflow: auto;
  display: flex;
  padding-top: 8rem;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  position: relative;
  margin-bottom: 57px;

}


.form-field-signup {
  margin-top: 1px;
  
}

#form-container-signup {
  height: 100%;
  width: 30%;
  background-color: rgba($color: rgb(44, 165, 48), $alpha: 0.2);
  border-radius: 10px;
  padding: 30px 0px;
  display: inline;
}
.labelsignup {
  width: 70%;
  padding: 30px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  height: 30px;
  font-size: 20px;
  color: $text-color-dark;

}

.labelpassword {
  margin-top: 15px;
  color: $text-color-dark;

}

.inputsignup {
  width: 70%;
  padding: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  height: 60px;
  font-size: 20px !important;
}

.button-signup {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 30px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  border-radius: 10px;
  height: 60px;
  font-size: 20px;
}

.account-message {
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: $text-color-dark;
}

.link:hover {
  text-decoration: underline;
}



.input-file-signup {
  width: 70%;
  display: inline-block;
  padding-top: 22px;
  border: 1px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 60px;
  font-size: 17px !important;
  display: flex;
  align-items: center;


}
